.list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 15px;
}

.text {
    text-align: center;
    margin-top: 20px;
    color: coral;
    font-size: 25px;
}